<style>
    footer{
            
            padding: 5px 0;
            text-align: center;
            width: 100%;
            left:0;
            bottom: 0;
            
            position: fixed;
            background-color: darkslategrey;
            
            font-family: sans-serif;
            color:white;

        }
</style>
<h6>@Web-Team-3</h6>