<style>
    header{
        text-align: center;
        padding: 10px 0 20px 10px;
        height: 60px;
        width:100%;
        background-color: darkslategrey;
        font-family: sans-serif;
        color:ghostwhite;
        margin-bottom: 60px;
    }
</style>
<h1>ETI LABS Pvt. Ltd.</h1>
