<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/web/web-module1/css/wm1.css">
	</head>
	<body class="test">
		<img src="/image/etilabs.png" style="height: 20%;"><br><br>
		{{> products}}
		<br>
		{{> services}}
	</body>
</html> 